<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Conn" connectionString="Data Source=199.79.62.22;Initial Catalog=MPSVC;User ID=mpsvc;Password=MPSVC@sfa123" providerName="System.Data.SqlClient" />
  <add name="Conn" connectionString="Data Source=SFATECHN30903;Initial Catalog=MPSVC;User ID=sa;Password=CPHTNYfsa4c$" providerName="System.Data.SqlClient" />-->
    <add name="Conn" connectionString="Data Source=.;Initial Catalog=MPSVC;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpSoap"/>
      </protocols>
    </webServices>
    <machineKey decryptionKey="721BF077DFCB524481213A345CBA6E52B59047A765CAAABE,IsolateApps" validation="SHA1" validationKey="C5058BD605537E8508F9536BE355EA79B7CA33CD011641E130C4700DCFED2A8E8A9C0EB40B88B329940313F6A3DE504A45DF28044DC540038A49E0A3F594BE99,IsolateApps"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms timeout="70"/>
    </authentication>
    <pages enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="FilePath" value="~/Merchant.property"/>
    <add key="LogFilePath" value="~/ErrorMessage.property"/>
    <add key="TPSLService" value="https://www.tpsl-india.in/PaymentGateway/services/TransactionDetailsNew"/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
    <security>  
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <!--<requestLimits maxAllowedContentLength="3145728"/>-->
        <!--<requestLimits maxAllowedContentLength="1073741824"></requestLimits>-->
      <requestLimits maxAllowedContentLength="4294967295"></requestLimits>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add verb="*" path="*.ashx" name="AjaxPro" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
    </handlers>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination="https://mpsvc.org" exactDestination="true" childOnly="true" httpResponseStatus="Permanent"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <applicationPools>
      <add name="DefaultAppPool"/>
      <add name="integrated.NetAppPool" managedPipelineMode="integrated"/>
      <applicationPoolDefaults>
        <processModel identifyType="NetworkService"/>
      </applicationPoolDefaults>
    </applicationPools>
  </runtime>
</configuration>